@model IEnumerable<OMR_Client.Models.Employee>
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
    int i = 1;
}
<main id="main" class="main">
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employee</h5>
                <h6>@Html.ActionLink("Create New Employee", "CreateEmployee")</h6>
                <!-- Table with hoverable rows -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Employee for</th>
                            <th scope="col">Register at</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.Fullname</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.ServiceProviderName</td>
                                <td>@item.CreatedAt</td>
                                <td>@Html.ActionLink("Detail", "DetailEmployee", new { employeeid = item.EmployeeID }, new { @class = "btn btn-primary" })</td>
                                <td>@Html.ActionLink("Delete", "DeleteEmployee", new { employeeid = item.EmployeeID }, new { @class = "btn btn-danger" })</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <!-- End Table with hoverable rows -->

            </div>
        </div>
    </section>
</main>


