@model IEnumerable<OMR_Client.Models.History>
@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
    int i = 1;
}


<main id="main" class="main">
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Transaction history</h5>

                <!-- Table with stripped rows -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Service</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Price</th>
                            <th scope="col">Transfer Time</th>
                            <th scope="col">Days</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.ServiceDescription</td>
                                <td>@item.PaymentType</td>
                                <td>@item.Price</td>
                                <td>@item.TransferTime</td>
                                <td>@item.Days</td>
                                <td>@Html.ActionLink("Detail", "DetailTransaction", new { transactionid = item.TransactionID }, new { @class = "btn btn-primary" })</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>
    </section>
</main>
