@model IEnumerable<OMR_Client.Models.Service>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">You’re sending top-up to</h1>
            <p class="lead fw-normal text-white-50 mb-0">@ViewBag.Phone</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="row gx-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">

                    <img src="https://vietteltelecom.vn/images_content/img-similar-pack.svg" alt="img" />
                    <h5 class="similar-pack__name">@Html.DisplayFor(modelItem => item.ServiceName)</h5>


                    <div class="card-body p-4">
                        <div class="similar-pack_detail">
                            <ul class="similar-pack_list">
                                <li class="similar-pack_item">
                                    <span class="similar-pack_icon"><img src="https://vietteltelecom.vn/images_content/icon-dola.svg" alt="img"></span>
                                    <p class="similar-pack_value">
                                        @Html.DisplayFor(modelItem => item.Price) VND
                                    </p>
                                </li>
                                <li class="similar-pack_item">
                                    <span class="similar-pack_icon"><img src="https://vietteltelecom.vn/images_content/icon-data.svg" alt="img"></span>
                                    <p class="similar-pack_value">
                                        @Html.DisplayFor(modelItem => item.ServiceDescription)
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("Index", "Transaction", new { id = item.ServiceID, phone = @ViewBag.Phone})">Select</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>