@model IEnumerable<OMR_Client.Models.History>
@{ 
    int i = 1;
}
<section>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Your history transaction</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Price</th>
                        <th scope="col">Transfer Time</th>
                        <th scope="col">Days</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.ServiceDescription</td>
                            <td>@item.PaymentType</td>
                            <td>@item.Price</td>
                            <td>@item.TransferTime</td>
                            <td>@item.Days</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>
</section>