<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/CSS/styles.css" rel="stylesheet" />
    <link href="~/Content/CSS/service.css" rel="stylesheet" />
    <link href="~/Content/CSS/admin.css" rel="stylesheet" />

</head>
<body class="d-flex flex-column h-100">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">DING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("SendTopUp", "Home")">Send top-up</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            @if (Session["UserID"] == null)
                            {
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Login")">Log In As Customer</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("EmpLogin", "Login")">Log In As Employee</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Signup")">Sign Up</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Customer")">Profile Settings</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("History", "Customer")">History</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Service")">Register Service</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Logout", "Home")">Log Out</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Features section-->


    @RenderBody()




    <!-- Footer-->
    <footer class="bg-dark-light py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

